<div class="dashboard">
<section id="about" class="about-section pt-page">
  <div class="section-container">
   <app-header></app-header>
    <!-- About Info Row Start-->
    <div class="row about mb-70">
      <div class="col-lg-12">
        <!--Personal Intro-->
        <h3 class="mb-20">Здравствуйте!</h3>
        <div class="about-info">
          <p>
            Мы компания Green Brothers. Профессионально занимаемся ландшафтным
            дизайном с 2015 года.
          </p>
          <p>
            На этом сайте Вы сможете подробно узнать о нашем опыте, а также
            посмотреть реализованные проекты
          </p>
          <p>Краткая автобиография:</p>
          <p>Lorem ipsum dolor sit.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
          <p>Lorem ipsum dolor sit amet consectetur.</p>
          <p>Lorem ipsum dolor sit amet consectetur.</p>
          <p>Курсы повышения квалификации:</p>
          <ul>
            <li>AJS, учебный центр - курс мастер ландшафтного дизайна</li>
            <li>Внедрение технологий</li>
          </ul>
          <p>Опыт работы в ландшафтном дизайне:</p>
          <ul>
            <li>2011 - 2015 лаборатория дизайна</li>
            <li>2012 - 2015 Lorem, ipsum.</li>
            <li>2013 Lorem ipsum dolor sit.</li>
          </ul>
          <div class="mt-30">
            <a class="btn-main mt-30" href="#contact">Контактные данные</a>
          </div>
        </div>
      </div>
    </div>
    <!-- About Info Row End-->

    <!--Services Row Start-->
    <div class="row services mb-30">
      <div class="col-md-12">
        <div class="subheading">
          <h3>Опыт работы в ландшафтном дизайне</h3>
        </div>
      </div>

      <!--Service Item-->
      <div class="col-lg-12 col-sm-12">
        <div class="service-item">
          <h4>ОсОО "IT-ЭО", проект (2019 - по настоящее
            время)</h4>
          <ul>
            <li></li>
            <li></li>
            <li></li>
          </ul>
          <h4>ООО "Международные ландшафтные системы"
            (2017 - 2019)</h4>
          <p>Работали над проектом ООО “МИС”</p>
          <ul>
            <li>Lorem, ipsum.</li>
            <li>Lorem, ipsum dolor.</li>
            <li>Lorem ipsum dolor sit.</li>
          </ul>
          <h4>ОсОО "DOS TEK" (ДОС ТЭК), (2016 - 2017)</h4>
          <p>В течении 1 года работали над проектом “Дос Тек”:</p>
          <ul>
            <li>Проект "СОЧИ"</li>
            <li>lorem ipsum</li>
            <li>lorem ipsum</li>
          </ul>
          <h4>Дизайн проекты (2015 - 2016)</h4>
          <p>В течении 7 мес. работали в небольшой команде фрилансеров. Выполненые проекты за этот
            период времени:</p>
          <ul>
            <li>lorem ipsum</li>
            <li>lorem ipsum</li>
            <li>lorem ipsum</li>
            <li>lorem ipsum</li>
            <li>lorem ipsum</li>
          </ul>
          <h4>Первые проекты</h4>
          <p>Green Brothers - сделал несколько проектов:</p>
          <ul>
            <li>lorem ipsum</li>
            <li>lorem ipsum</li>
            <li>lorem ipsum</li>
            <li>lorem ipsum</li>
            <li>lorem ipsum</li>
          </ul>
        </div>
      </div>
    </div>
    <!--Services Row End-->
  </div>
</section>
<app-footer></app-footer>
</div>